body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.container input {
  outline: none;
}

.button {
  width: 175px;
  cursor: pointer;
}

.listProducts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.listProducts i {
  color: red;
}

.product-type {
  margin-right: 18px;
}